---
import "../styles/global.css";
import RidleCard from "../components/RIdleCard";
---

<div id="container" class="flex justify-center items-center w-full h-screen">
  <RidleCard client:load />
</div>
